.train {
  position: relative;
  width : 20%px;
  height : 20%;
  left: 0;
  animation-name: moveRight;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused; 
}

@keyframes moveRight {
  0% {
      left: 0;
  }
  100% {
      left: calc(100% - 100px); 
  }
}
